@CHARSET "utf-8";

body {
    font-family: "Hiragino Maru Gothic ProN", Osaka, sans-serif;
    max-width: 960px;
}

hr {
    clear: both;
}

br.clear {
    clear: both;
}

p {
    margin: 0.5rem 0.0rem;
}

p.set-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.0rem 0.0rem;
}

p.button-set {
    float: left;
    border: none;
    margin: 0px 5px 2px 0px;
}

textarea {
    font-family: "Hiragino Maru Gothic ProN", Osaka, sans-serif;
    font-size: 1.1rem;
    border: 2px solid lightgray;
    border-radius: 0.5rem 0.5rem;
    width: 92%;
    aspect-ratio: 2/1;
    height: auto;
}

div.set {
    float: left;
    border: none;
    margin: 0px 0px 6px 0px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 481px) {
    textarea {
        aspect-ratio: 1/1;
    }

    div.set {
        float: left;
        border: none;
        padding: 0px 0px 6px 0px;
        text-align: center;
        width: 50%;
    }
}

input {
    font-family: "Hiragino Maru Gothic ProN", Osaka, sans-serif;
    font-size: 0.8rem;
    border: 1px solid darkgray;
    padding: 0.0rem 0.5rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 0.5rem 0.5rem;
    text-decoration: none;
}
